.comparison_table{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(205, 198, 198);
    font-size: larger;
    height: 35rem;
    border-radius: 20px;
}

p{
    font-size: large;
    font-weight: bold;
}

.product_container{
    border: 3px solid black;
    padding: 15px;
    margin: 25px;
    background-color: rgb(184, 173, 173);
    border-radius: 5px;
}

.App > h1{
    text-align: center;
    color: white;
}

.rating_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: rgb(8, 8, 7);
}

/* ==========Media  Queries (medium devices) =============*/

@media screen and (max-width: 1024px) {
    .comparison_table{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 62rem;
    }  
    .App{
        justify-content: flex-start;
        align-items: center;
        height: 74rem;
        width: 100vw;   
    }
 }
 
 /* ==========Media  Queries (small devices) =============*/
 
 @media screen and (max-width: 600px) {
    .App{
        align-items: center;
        height: fit-content;
        width: fit-content;
    }
 }